body{
    background-image: url("C:\Users\Atvi\Desktop\movieApp\MovieApp\luke-chesser-eICUFSeirc0-unsplash.jpg");
}

#root {
        display: flex;
        flex-wrap: wrap;
        max-width: 1280px;
        margin: 0 auto;
        padding: 2rem;
        text-align: center;
        background: transparent;
    }