body{
    background-image: url("https://miro.medium.com/0*cLUSgHqt5kXYCXFZ.gif");
}

#root {
        display: flex;
        flex-wrap: wrap;
        max-width: 1280px;
        margin: 0 auto;
        padding: 2rem;
        text-align: center;
        background: transparent;
    }
