body{
    background-image: url("https://img.freepik.com/premium-vector/global-network-connections-abstract-vector-neural-networks-cyberspace-futuristic-grid-artificial-intelligence-technology-virtual-cyber-dynamic_813854-283.jpg?semt=ais_hybrid&w=740&q=80");
}

#root {
        display: flex;
        flex-wrap: wrap;
        max-width: 1280px;
        margin: 0 auto;
        padding: 2rem;
        text-align: center;
        background: transparent;
    }